.dateCareerCard{
    color: #94a3b8;
}

.containerCareerCard {
    margin: 2vh 0 2vh 0;
    padding: 3vh;
    transition: background-color 0.3s ease, border-radius 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; 
}

.containerCareerCard:hover {
    background-color: #162032;
    border-radius: 10px;
    transform: translateY(-10px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.cardCareerTitle{
    color: #e2e8f0;
}

.cardCareerDescription{
    color: #94a3b8;
    font-size: 0.8rem;
}

.cardCareerLink{
    text-decoration: none;
    display: flex;
}


@media screen and (max-width: 768px) {
    .cardCareerLink{
        flex-direction: column;
    }
    .cardCareerTitle{
        margin-top: 2rem;
    }

}

