.projectCardWrapper {
    transition: opacity 0.3s ease;
    opacity: 1; 
}

.projectCardWrapper.dimmed {
    opacity: 0.5; 
}

.projectsRow {
    display: flex;
    flex-direction: column;
}

.sectionSeparatorTitle{
    font-size: 1.5rem;
    font-weight: bold;
    color: #e2e8f0;
    text-align: center;
}

.sectionSeparator{
    width: 100px;
    height: 1px;
    background-color: #94a3b8;
    border-radius: 2px;
}
  