.infoColumn{
	text-align: left;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 1px; /* Increase size */
    height: 1px; /* Increase size */
    background-color: #090f1d; /* Softer opacity */
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
    z-index: -100;
    box-shadow: 0 0 400px 200px #182749; 
}

.custom-cursor:hover {
    transform: scale(1.2);
}

.logoContainer{
    margin: 0 15%;
    border: 3px solid #e2e8f0;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
}

.personalLogo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainTitle{
    cursor: default;
    font-weight: 700;
    color: #e2e8f0;
    font-size: 3rem;
}

.jobTitle{
    cursor: default;
    color: #e2e8f0;
    font-size: 1.25rem;
}

.subTitle{
    cursor: default;
    color: #94a3b8;
    font-size: 1rem;
}

#iconContainer{
    margin-top: 2rem;
}

#progressItems{
    margin-top: 3rem;
}

.testHeight{
    height: 500vh;
}

.sidebar{
    position: fixed;
    top: 6rem;
    width: 35%;
    height: 100%;
    overflow: auto;
}

#contactRow{
    width: 45%;
    justify-content: space-between;
}


.scrollInfo{
    margin-left: 50%;
    width: 50%;
    overflow: auto;
}

#resumeButtonText{
    margin-top: 1.5rem;
}

@media screen and (max-height: 469px){
    .mainTitle{
        font-size: 1.5rem;
    }
    .jobTitle{
        font-size: 0.8rem;
    }
    .subTitle{
        font-size: 0.8rem;
    }
    #progressItems{
        margin-top: 1rem;
    }
    #iconContainer{
        margin-top: 1.5rem;
    }
    #resumeButtonText{
        margin-top: 0.6rem;
    }
    .sidebar{
        top: 5rem;
    }
}

@media screen and (min-height:470px) and (max-height: 550px) {
    .mainTitle{
        font-size: 1.5rem;
    }
    .jobTitle{
        font-size: 0.7rem;
    }
    .activeLink{
        font-size: 0.8rem;
    }
    .inactiveLink{
        font-size: 0.8rem;
    }
    .subTitle{
        font-size: 0.7rem;
    }
    .sidebar{
        top: 4rem;
    }
    #progressItems{
        margin-top: 0.8rem;
    }
    #iconContainer{
        margin-top: 1rem;
    }
    #resumeButtonText{
        font-size: 0.8rem;
        margin-top: 1rem;
    }    
    .containerEndItems{
        display: flex;
    }
    #contactRow{
        width: 80%;
    }
    
}

@media screen and (min-height: 551px) and (max-height: 650px){
    .logoContainer{
        width: 180px;
        height: 180px;
    }
    .mainTitle{
        font-size: 2rem;
    }
    .jobTitle{
        font-size: 1rem;
    }
    .activeLink{
        font-size: 0.8rem;
    }
    .inactiveLink{
        font-size: 0.8rem;
    }
    .subTitle{
        font-size: 0.8rem;
    }
    #progressItems{
        margin-top: 1rem;
    }
    #iconContainer{
        margin-top: 1rem;
    }
    #resumeButtonText{
        font-size: 0.8rem;
    }    
    .sidebar{
        top: 4rem;
    }
    #contactRow{
        width: 35%;
    }
}

@media screen and (min-height: 651px) and (max-height: 900px) {
    .logoContainer{
        width: 220px;
        height: 220px;
    }
    .mainTitle{
        font-size: 2.8rem;
    }  
    .jobTitle{
        font-size: 1rem;
    }
    .subTitle{
        font-size: 0.9rem;
    }
    #progressItems{
        margin-top: 1.5rem;
    }
}

@media screen and (min-height: 901px) and (max-height: 1500px) {
    .mainTitle{
        font-size: 3rem;
    }  
    .jobTitle{
        font-size: 1.25rem;
    }
    .subTitle{
        font-size: 1rem;
    }
    #iconContainer{
        margin-top: 2rem;
    }
    
    #progressItems{
        margin-top: 3rem;
    }
    .sidebar{
        top: 6rem;
    }
}

@media screen and (max-width: 1399px){

    .scrollInfo{
        margin-left: 40%;
        width: 60%;
    }

    .logoContainer{
        margin: 0 10%;
        margin-bottom: 1.25rem;
        width: 200px;
        height: 200px;
    }
    
}

@media screen and (max-width: 1199px){

    .scrollInfo{
        margin-left: 40%;
        width: 65%;
    }
    
}

@media screen and (max-width: 991px){


    .sidebar{
        position: relative;
        width: 100%;
        margin-bottom: 4rem;
    }

    .scrollInfo{
        margin-left: 0%;
        width: 100%;
    }

    .logoContainer{
        border-radius: 0;
        margin: 0 2%;
        margin-bottom: 1rem;
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 500px){

    .logoContainer{
        width: 200px;
        height: 200px;
    }

    #contactRow{
        width: 70%;
    }
    
}

@media screen and (min-width: 1500px){

    #contactRow{
        width: 25%;
    }
}

.colLinkProgress{
    margin: 1vh 0 1vh 0;
}

.inactiveLink {
    font-weight: normal;
    text-decoration: none;
    color: #94a3b8; 
    position: relative;
    padding-left: 65px; 
}

.inactiveLink:hover {
    font-weight: bold;
    color: #e2e8f0; 
}

.activeLink {
    font-weight: bold;
    text-decoration: none;
    color: #e2e8f0; 
    position: relative;
    padding-left: 80px; 
}

.activeLink::after{
    content: '';
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    width: 65px; 
    height: 2px; 
    background-color: #94a3b8; 
    transition: all 0.3s ease;
}

.inactiveLink::after {
    content: '';
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    width: 50px; 
    height: 2px; 
    background-color: #94a3b8;
    transition: all 0.3s ease;
}

.activeLink::after {
    background-color: #e2e8f0; 
    height: 3px; 
}

.inactiveLink:hover::after {
    background-color: #e2e8f0; 
    height: 3px; 
}

.projectsRow{
    display: flex;
    flex-direction: column;
}

.projectCardWrapper {
    transition: opacity 0.3s ease;
    opacity: 1; 
}

.projectCardWrapper:hover {
    opacity: 1; 
}

.projectCardWrapper:hover ~ .projectCardWrapper,
.projectCardWrapper:hover ~ * .projectCardWrapper {
    opacity: 0.5;
}

.projectCardWrapper:hover ~ * .projectCardWrapper{
    opacity:0.3;
}

.contactIcon{
    color: #e2e8f0;
    font-size: 1.5rem;
}